.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.title {
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #f24e5e;
  text-shadow: 1px 1px 0 #000000, 2px 2px 0 #777777, 3px 3px 0 #666666,
    4px 4px 0 #ffffff, 5px 5px 0 #555555, 6px 6px 0 #444444, 7px 7px 0 #333333,
    8px 8px 7px #111111;
}
.sigWrapper {
  display: flex;
  align-items: center;
}

.buttonLogin {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.loginText {
  margin-right: 60px;
  display: inline-block;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
/* .loginText.active {
  padding: 30px 0px;
  position: relative;
  color: #e45564;
} */
