.container {
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    justify-content: space-between;
    padding: 0px 30px;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
  }
}
.brand {
  display: flex;
  gap: 10px;
  align-items: stretch;
  align-items: center;
}

@media screen and (min-width: 1025px) {
  .brand {
    gap: 15px;
  }
}
.title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  font-family: cursive;
  color: #c50fe5;
  text-shadow: 1px 1px 0 #161316, 2px 2px 0 #c50fe5, 3px 3px 0 #00eeff,
    4px 4px 0 #191717, 5px 5px 0 #c50fe5, 6px 6px 0 #946e6e, 7px 7px 0 #dcd9d9,
    8px 8px 7px #4f4a4a;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1025px) {
  .title {
    white-space: nowrap;
    font-size: 28px;
  }
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .logoContainer {
    gap: 10px;
  }
}

.logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: var(--transition);
  }
}

.logo:hover,
.logo:focus {
  transform: scale(1.2);
}

.sigWrapper {
  display: flex;
  align-items: center;
}

.buttonLogout {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logoutText {
  display: inline-block;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(108, 9, 161), 0 0 0.2em blue;
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  text-decoration: none;
}

.logoutText:hover,
.logoutText:focus {
  text-shadow: 3px 3px 10px rgb(160, 9, 9), 0 0 1em#8b0000,
    0 0 0.2em rgb(160, 8, 8);
  transform: scale(1.2);
  color: var(--red-color);
}
