/* пердостанній__________________________________ */
/* .cardListContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}
.participantList {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.participantItem {
  border: 1px solid red;
  flex: 0 0 auto;
  width: 200px; 
  margin-right: 10px; 
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
/* ParticipantList.module.css */
/* _______________________________ */
/* display: flex;
flex-wrap: wrap; */

/* .participantList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
  list-style: none;
  padding: 0;
  margin: 0;
  } */
/* .participantList {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    } */

/* .participantItem {
      background-color: #f0f0f0;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      } */
/* _________________________________________________________ */
/* .cardListContainer {
  display: flex;
  justify-content: space-evenly;
  width: auto;
} */
.participantList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  list-style: none;
}
.participantItem {
  flex: 0 0 calc(100% / 5 - 10px);
  margin-right: 10px;
  background-color: #d549e8;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
