.wrapperCard {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .wrapperCard {
    padding: 10px;
    width: 100%;
    height: 600px;
    overflow-y: auto;
  }
}
.wrapperNoEvent {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 100%;
  align-items: center;
  align-items: center;
  padding: 20px 0;
}

.message {
  font-size: 32px;
  color: black;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .message {
    font-size: 48px;
  }
}
