.containerHome {
  display: flex;
  min-width: 375px;
  border-radius: 20px;
  padding: 30px 10px;
  flex-direction: column;
  border: 1px solid #00eeff;
  gap: 120px;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  width: 100wh;
  background-image: url('../../assets/images/photoroom.jpg');
  background-size: cover;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerHome {
    display: flex;
    flex-direction: column;
    border: 1px solid #00eeff;
    padding: 50px 40px 20px 40px;
    background-image: url('../../assets/images/photoroom.jpg');
    background-size: cover;
    background-position: 55% 50%;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1025px) {
  .containerHome {
    padding: 100px 50px 50px 50px;
    border: 1px solid #00eeff;
    gap: 120px;
    max-width: 1400px;
    justify-content: space-between;
    align-items: start;
    height: 100vh;
    background-image: url('../../assets/images/photoroom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 50%;
  }
}

.containerWelcome {
  display: flex;
  margin-top: 320px;
  min-width: 305px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerWelcome {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 60px;
  }
}

@media screen and (min-width: 1025px) {
  .containerWelcome {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: start;
    gap: 100px;
  }
}

.title {
  font-size: 28px;
  color: #f2cbefed;
  text-shadow: 1px 1px 0 #161316, 2px 2px 0 #c50fe5, 3px 3px 0 #00eeff,
    4px 4px 0 #191717, 5px 5px 0 #c50fe5, 6px 6px 0 #946e6e, 7px 7px 0 #dcd9d9,
    8px 8px 7px #a9a9a9;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 46px;
  }
}
@media screen and (min-width: 1025px) {
  .title {
    font-size: 66px;
  }
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .buttonWrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
  }
}

.message {
  font-size: 22px;
  color: black;
  font-weight: 700;
  padding: 0 25px 0px 35px;
  align-self: baseline;
  text-shadow: 2px 2px 5px #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .message {
    font-size: 24px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 1025px) {
  .message {
    font-size: 43px;
    /* padding: 0px 40px; */

    align-self: baseline;
  }
}
.buttonHome {
  width: 100px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  background: var(--accent-color);
  color: var(--white-color);
  border: 1px solid #00eeff;
  transition: background-color var(--transition), color var(--transition);
  box-shadow: 0 0 15px 5px rgba(242, 238, 243, 0.799);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .buttonHome {
    width: 150px;
    height: 46px;
    display: flex;
    padding: 12px 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 16px;
    line-height: 1.5;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1025px) {
  .buttonHome {
    width: 173px;
    height: 56px;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    white-space: nowrap;
  }
  .buttonMargin {
    margin-left: 50px;
  }
}

.buttonHome:hover,
.buttonHome:focus {
  color: var(--black-color);
  background: var(--hover-color);
  border: 1px solid var(--white-color);
  box-shadow: 0 0 15px 5px rgba(93, 25, 106, 0.75);
}

.contWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
