.contWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 230px; */
}

.title {
  margin-top: 70px;
  margin-left: 120px;
  font-size: 46px;
  color: black;
  text-shadow: 1px 1px 0 #000000, 2px 2px 0 #777777, 3px 3px 0 #666666,
    4px 4px 0 #ffffff, 5px 5px 0 #555555, 6px 6px 0 #444444, 7px 7px 0 #333333,
    8px 8px 7px #111111;
}

.buttonWrapper {
  display: flex;
  justify-content: space-evenly;
}
.message {
  font-size: 56px;
  margin: 120px;
  color: black;
  font-weight: 600;
  align-self: baseline;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btnGo {
  width: 173px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.5%;
  white-space: nowrap;
  color: black;
  background: #e44848;
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnGo:hover,
.btnGo:focus {
  font-size: 20px;
  font-weight: 500;
  background-color: #e32525;
  color: white;
  border: 2px solid #e32525;
}

.btnCreate {
  width: 173px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.5%;
  white-space: nowrap;
  color: #fff;
  background: #e44848;
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnCreate:hover,
.btnCreate:focus {
  font-size: 24px;
  font-weight: 500;
  background-color: #e32525;
  color: white;
  border: 2px solid #e32525;
}
