.cardContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  color: var(--blue-color);
  padding: 30px 50px;
  background: var(--light-gradient);
  box-shadow: var(--box-shadow);
  height: 520px;
  width: 485px;
  outline: 1px solid var(--accent-color-dark);
  /* transition: transform 0.5s ease; */
  outline-offset: -20px;
}
/* .cardContainer:focus::before,
.cardContainer:hover::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 1px solid #742889;
  box-shadow: 0 0 15px 5px rgba(215, 62, 246, 0.75);
  pointer-events: none;
} */

.likeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.cardDescription {
  color: var(--blue-color);
  font-size: 20px;
  font-weight: 500;
}

.heartIconFull {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  transition: transform 0.3s ease;
}

.heartIconFull:hover,
.heartIconFull:focus {
  transform: scale(1.2);
}

.heartIcon {
  width: 26px;
  height: 26px;
  top: 10px;
  right: 10px;
  position: absolute;
  stroke-width: 1px;
  cursor: pointer;
  transition: var(--transition);
  stroke: var(--accent-color-dark, #69306d);
}

.heartIcon:hover,
.heartIcon:focus {
  stroke-width: 2px;
  stroke: #00eeff;
  /* stroke: #d105f5; */
  /* box-shadow: 0 0 15px 5px rgba(242, 238, 243, 0.799); */
}

.cardInfo {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  align-items: flex-start;
}

.cardInfoTitle {
  display: flex;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.cardInfoTeacher {
  font-size: 20px;
  display: flex;
}

.organizerTextContainer {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 5px;
}

.cardName {
  color: var(--red-color);
  font-family: cursive;
  font-size: 20px;
}
.cardNameOrg {
  font-size: 20px;
  color: var(--blue-color);
  font-weight: bold;
  font-family: cursive;
}
.cardDate {
  color: var(--blue-color);
  font-size: 18px;
  font-weight: bold;
}

.organizerImage {
  width: 96px;
  height: 96px;
  margin-right: 25px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.btnContainer {
  display: inline-flex;
  margin-top: 55px;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-family: inherit;
  box-shadow: var(--box-shadow);
  background: var(--accent-color);
  color: var(--black-color);
  border: 1px solid #00eeff;
  /* border: 1px solid var(--accent-color-dark); */
  transition: background-color var(--transition), color var(--transition);
}

.btn:focus,
.btn:hover {
  background: var(--hover-color);
  color: var(--white-color);
  border: 1px solid var(--accent-color-dark);
  box-shadow: 0 0 15px 5px rgba(93, 25, 106, 0.75);
}

.label {
  color: var(--red-color);
  font-family: cursive;
  font-weight: bold;
  font-size: 18px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socialItem {
  width: 45px;
  height: 45px;
}

.socialLink {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #69306d;
  box-shadow: var(--box-shadow);
  color: var(--white-color);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.socialLink:hover,
.socialLink:focus {
  background-color: #cb0cdc;
  box-shadow: 0 0 15px 5px rgba(93, 25, 106, 0.75);
}

.socialIcon {
  fill: #00eeff;
  /* fill: #f4f4fd; */
}
.socialIcon:focus,
.socialIcon:hover {
  fill: var(--blue-color);
}

.deleteBtn {
  background: var(--accent-color);
  color: var(--black-color);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
}

.deleteBtn:hover {
  color: var(--white-color);
  background-color: var(--hover-color);
}
