.containerLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .containerLink {
    align-items: center;

    justify-content: flex-end;
  }
}
@media screen and (min-width: 1025px) {
  .containerLink {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
  }
}

.link {
  display: inline-block;
  font-size: 14px;
  padding: 30px 8px 30px 8px;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(108, 9, 161), 0 0 0.2em blue;
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .link {
    font-size: 16px;
    padding: 30px 20px;
  }
}

@media screen and (min-width: 1025px) {
  .link {
    font-size: 18px;
    padding: 30px 20px;
    margin-right: 60px;
  }
}

.link.active {
  position: relative;
  color: #00eeff;
}
.link:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.5s;
}

.link:hover:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #00eeff;
  transition: width 0.5s;
}
.hiddenLink {
  visibility: hidden;
}
/* .hiddenLink {
  display: none;
} */
