.eventContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  color: black;
  justify-content: space-evenly;
  padding: 30px 50px;
  background: linear-gradient(to right, #a3d4f8, #e0f1ff);
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  height: 400px;
  outline: 1px solid #ff0000;
  transition: transform 0.5s ease;
  outline-offset: -20px;
}
.eventContainer:hover {
  transform: scale(1.17);
}

.eventDescription {
  max-height: 100px;
  overflow-y: auto;
  color: #333;
  font-weight: bold;
}

.eventInfo {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  align-items: flex-start;
}
.eventName {
  color: #333;
  font-size: 18px;
}
.eventDate {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: #f24e5e;
  color: #333333;
  text-align: center;
  border: 1px solid #474f52;
  box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  color: #c61f30;
}

/* .btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
