/* @media (max-width: 768px) {
  .containerList {
    width: 100%;
    padding: 8px;
  }
 }  */
.containerList {
  display: flex;
  overflow-x: auto;
  padding: 20px 0px 20px 10px;
  height: auto;
}

.gallery {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.galleryCard {
  flex: 0 0 auto;
  margin-right: 28px;
}

.message {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

/* @media (max-width: 768px) {
  .containerList {
    width: 100%;
    padding: 8px;
  }
} */
