.containerPage404 {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 30px;
  text-align: center;
  height: 100vh;
  color: var(--blue-color);
  align-items: center;
  justify-content: space-evenly;
}

.titlePage {
  font-weight: 500;
  font-size: 40px;
  font-family: cursive;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--blue-color);
  margin-bottom: 30px;
  text-shadow: 1px 1px 0 #161316, 2px 2px 0 #c50fe5, 3px 3px 0 #00eeff,
    4px 4px 0 #191717, 5px 5px 0 #c50fe5, 6px 6px 0 #946e6e, 7px 7px 0 #dcd9d9,
    8px 8px 7px #4f4a4a;
}

.table {
  text-align: center;
  margin-bottom: 50px;
  font-size: 26px;
  color: black;
  box-shadow: var(--box-shadow);
}

.text {
  font-size: 32px;
  font-weight: 600;
  font-weight: 500;
  font-size: 40px;
  font-family: cursive;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--blue-color);
  margin-bottom: 30px;
  text-shadow: 1px 1px 0 #161316, 2px 2px 0 #c50fe5, 3px 3px 0 #00eeff,
    4px 4px 0 #191717, 5px 5px 0 #c50fe5, 6px 6px 0 #946e6e, 7px 7px 0 #dcd9d9,
    8px 8px 7px #4f4a4a;
}

.btnGo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 250px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--black-color, #121417);
  cursor: pointer;
  border: 1px solid #00eeff;
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow);
  transition: background-color var(--transition), color var(--transition);
}

.btnGo:hover,
.btnGo:focus {
  border: 1px solid var(--accent-color-dark);
  box-shadow: 0 0 15px 5px rgba(93, 25, 106, 0.75);
  background-color: var(--hover-color);
  color: #00eeff;
}
