:root {
  --accent-color-dark: #69306d;
  --accent-color: #c764e4;
  --secondary-color: #d387ed;
  --hover-color: #e194ec;
  --background-color: #f2cbefed;
  --light-gradient: linear-gradient(90deg, #ffffff, #cb6ce6);
  --box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.5),
    10px 0 10px -10px rgba(0, 0, 0, 0.5), 0 10px 10px -10px rgba(0, 0, 0, 0.5);

  --black-color: #121417;
  --blue-color: #0f0338;
  --brown-color: #695350;
  --brown-dark-color: #946e6e;
  --red-color: #c12121;
  --white-color: #fbf9fa;
  --lightgray-color: #e0dcde;
  --gray-color: #dcd9d9;
  --dark-gray-color: #a9a9a9;
  --transition: 0.5s ease-in-out;
  --background-color-transition: var(--background-color);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color var(--transition), color var(--transition);
  background-color: var(--background-color, #f2cbefed);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
